@use"../custom" as *;
@use "../components/mixins" as *;

.footer {
    padding-top: 1rem;
    background-color: $footer;
    display: flex;
    flex-direction: row;
}

// Style contact-box content

.contact-box {
    position: relative;
    display: flex;
    flex-direction: row;
    &__icon {
        color: $secondary;
        // background-color: green;
        vertical-align: middle;
        padding: 1.25rem 0.5rem 0.5rem 0.5rem;

    }

    &__info {
        padding: 0.4rem;
        font-weight: 600;

        &--title {
            color: $white;
            text-decoration: none;
            font-size: 1.4rem;
        }

        &--subtitle {
            color: $gray-600;
            text-decoration: none;
            font-size: 1rem;
        }
    }
}