@use"../custom" as *;
@use "../components/mixins" as *;

.intro-section {
    @include gradient;
    padding: 10rem 0 0 0;
    width: 100;
    height: 100%;

    .container {
        height: 75vh;

        @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: space-between;
            height: 77vh;
        }
        .display-2 {
            text-align: center;
            &--description {
                font-size: 1.5rem;
            }
        }
    }
}



.intros {
    .video-box {
        position: relative;

        img {
            display: inline-block;
            width: 750px;
        }
    }
}