@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: auto;
  margin-top: 2rem;
}

.title {
  font-size: 40px;
  color: var(--color-text);
  margin-bottom: 2rem;
}

.spoolList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  align-content: flex-start;
  // justify-content: space-between;
  gap: 0px;
}