.wholeFooter {
  margin-top: 6rem;
  width: 100vw;
  background-color: hsl(243, 21%, 34%);
}
.container {
  width: 90vw;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
  color: white;
}

.socials {
  height: 3rem;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;

}

.social {
  font-size: 3rem;
  color: rgb(255, 255, 255);
  transition: 0.3s;

  &:hover {
    color: rgb(168, 96, 182);
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  gap: 10px;
  .name {
    font-weight: 300;
    text-transform: uppercase;
  }

  .copyrightsymbol {
    font-weight: 100;
  }

  .rights {
    font-weight: 100;
    font-style: italic;
  }
}